table {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    width: 80vw;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  /* Áp dụng kiểu cho tiêu đề cột */
thead tr th {
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  /* Áp dụng kiểu cho ô dữ liệu */
tbody td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Áp dụng kiểu cho hàng chẵn */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

.pagination{
  position: absolute;
  left: 50vw;
  transform: translate(-50%,0);
  top: 72vh;
}