.searchBlock{
    display: inline-block;
    height: 5vh;
    width: fit-content;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-100%,0);
    
}

.searchIcon{
    position: absolute;
    top: 16%;
    color: black;
    font-weight: 1px;
    box-sizing: border-box;
    font-size: 25px;
    padding: 5px;
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out, color 0.2s ease-in-out ;
    /* z-index: 2; */
}

.searchIcon:hover {
    cursor: pointer;
    color: rgb(150, 150, 150);
}

.searchIcon.active {
    transform: translateX(8vw) ;
}

.searchInput{
    display: inline-block;
    height: 4vh;
    position: absolute;
    transform: translate(-40%,15%) ;
    border-radius: 10px;
    width: 0vw;
    visibility: hidden; 
    opacity: 0;
    transition: all  0.5s  ease-in-out; 
}

.searchInput.active{
    visibility: visible; 
    width: 17vw;
    opacity: 1;
}
.search-error {
    text-align: center;
    width: 20vw;
}
.filter-icon {
    font-size: 25px;
    position: absolute;
    top: 20vh;
    right: 8vh;
    transition: all 0.3s ease-in-out;
}
.filter-icon:hover{
    cursor: pointer;
    color: rgb(122, 122, 122);
}